<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
        {% stylesheets
        filter='cssrewrite'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
    <style type="text/css">
        body {
            padding-top: 70px;
            padding-bottom: 30px;
        }

        .navbar-fixed-top {
            margin-bottom:20px;
        }

        i {
            font-size:16px;
        }

        .nav > li > a {
            color:#787878;
        }

        footer {
            margin-top:20px;
            padding-top:20px;
            padding-bottom:20px;
            background-color:#efefef;
        }

        /* count indicator near icons */
        .nav>li .count {
            position: absolute;
            bottom: 12px;
            right: 6px;
            font-size: 10px;
            font-weight: normal;
            background: rgba(51,200,51,0.55);
            color: rgba(255,255,255,0.9);
            line-height: 1em;
            padding: 2px 4px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            border-radius: 10px;
        }

        /* indent 2nd level */
        .list-unstyled li > ul > li {
            margin-left:10px;
            padding:8px;
        }
    </style>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body role="document">
<!-- Fixed navbar -->
<!-- Header -->
<div id="top-nav" class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-toggle"></span>
        </button>
        <a class="navbar-brand" href="{{ path('scoreboard_homepage') }}">UNIQ-GROUP</a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav pull-right">

            <li class="dropdown">
                <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-wrench"></i>Categorieën<span class="caret"></span></a>
                <ul id="g-account-menu" class="dropdown-menu" role="menu">
                    <li role="presentation" class="divider"></li>
                    <li><a href="{{ path('scoreboard_team') }}">Index</a></li>
                    <li><a href="{{ path('scoreboard_team') }}">Categorieën</a></li>
                    <li><a href="{{ path('scoreboard_team') }}">Producten</a></li>
                    <li role="presentation" class="divider"></li>
                    <li><a href="#">Producten</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-cog"></i> Quick Settings<span class="caret"></span></a>
                <ul id="g-account-menu" class="dropdown-menu" role="menu">
                    <li role="presentation" class="divider"></li>
                </ul>
            </li>

            <li><a href="#"><i class="glyphicon glyphicon-lock"></i> Logout</a></li>
        </ul>
    </div>
</div>
<!-- /Header -->
{% block body %}{% endblock %}
</body>
{% block javascripts %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    {% javascripts

    %}
    <script type="text/javascript" src="{{ asset_url }}" ></script>
    {% endjavascripts %}
{% endblock %}
</html>

