{% extends '::base.html.twig' %}

{% block title %}Hello {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {#<style>#}
    {#.theme-dropdown .dropdown-menu {#}
    {#position: static;#}
    {#display: block;#}
    {#margin-bottom: 20px;#}
    {#}#}

    {#.theme-showcase > p > .btn {#}
    {#margin: 5px 0;#}
    {#}#}

    {#.theme-showcase .navbar .container {#}
    {#width: auto;#}
    {#}#}
    {#</style>#}
    {% stylesheets

    filter='cssrewrite'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block body %}
    <div class="container theme-showcase" role="main">
        Aantal Producten : {{ products|length }}
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-12">
                    <ul class="list-inline pull-right">
                        <li><a title="Add category" data-toggle="modal" href="{{ path('rental_category_add') }}"><span class="glyphicon glyphicon-plus-sign"></span>Add Category</a></li>
                    </ul>
                </div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Positie</th>
                        <th>Naam</th>
                        <th>Subcategorieën</th>
                        <th>Laatst aangepast</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for category in categories %}
                        <tr>
                            <td>
                                {{ category.position }}
                            </td>
                            <td>{{ category.name }}</td>
                            <td>
                                {% for subcat in category.children %}
                                    {{ subcat.prefix }}
                                    {% if category.children|length > 1 %}
                                        ,
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>{% if category.datemodified == null %}
                                    {{ category.datecreated|date('H:i - d-m-y') }}
                                {% else %}
                                    {{ category.datemodified|date('H:i - d-m-y') }}
                                {% endif %}
                            </td>
                            <td>{% if category.active == 1 %}
                                    <span id="{{ category.id }}" data-status="1" class="label label-success status">Actief</span>
                                {% elseif category.active == 0 or category.active == null %}
                                    <span id="{{ category.id }}" data-status="0" class="label label-default status">Inactief</span>
                                {% endif %}
                            </td>
                            <td>
                                <a class="btn btn-warning btn-xs" href="{{ path('rental_category_edit', {'slug': category.slug,}) }}">
                                    <i class="glyphicon glyphicon-pencil tooltips" data-original-title="Edit category" title="Edit category"></i>
                                </a>
                                <a id="{{ category.id }}" class="btn btn-danger btn-xs category_delete" href="#">
                                    <i class="glyphicon glyphicon-remove tooltips" data-original-title="Delete category" title="Delete category"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("span.status").on("click", function(event){
                var cat_id = event.target.id;
                var cat_status = $(event.target).attr('data-status');
                console.log("id :" + cat_id,"status :" + cat_status);
                $.ajax({
                    type: "POST",
                    url: Routing.generate('rental_category_change_status', { id: cat_id , status: cat_status }),
                    success: function() {
                        console.log();
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown)
                    {
                        alert('Error : ' + errorThrown);
                    }
                });

            });
            $("a.category_delete").on("click", function(event) {
                var id = event.target.id;
                if (confirm("Weet je zeker dat je "+ id +" wilt verwijderen?") == true) {
                    //Proceed deleting category
                    console.log(event.target.id);
                } else {
                    //Cancel process
                }
            });
        });
    </script>
{% endblock %}
