{% extends '::base.html.twig' %}

{% block title %}Rental -> index {% endblock %}

{% block body %}

        <div class="col-md-12">

            <!-- column 2 -->
            <ul class="list-inline pull-right">
                <li><a title="Add Widget" data-toggle="modal" href="#addWidgetModal"><span class="glyphicon glyphicon-plus-sign"></span> Add User</a></li>
            </ul>
            <a href="#"><strong><i class="glyphicon glyphicon-briefcase"></i> Uniq-Group Admin</strong></a>

            <hr>
            <div class="row">
                <!-- center left-->
                <div class="col-md-12">
                    <div class="panel panel-default panel-condensed" id="userPane">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-11">
                                    <strong>Users</strong>
                                </div>
                                <div class="col-md-1">
                                    <a data-toggle="collapse" data-parent="userPane" href="#userBody">
                                        <span class="glyphicon glyphicon-chevron-down"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div id="userBody" class="panel-collaps collapse in">
                            <div class="panel-body">

                                <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper form-inline" role="grid"><div class="row datatables-top"><div class="col-sm-6"><div id="DataTables_Table_1_length" class="dataTables_length"><label><select size="1" name="DataTables_Table_1_length" aria-controls="DataTables_Table_1"><option value="10" selected="selected">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> records per page</label></div></div><div class="col-sm-6 text-right"><div class="dataTables_filter" id="DataTables_Table_1_filter"><label>Search: <input type="text" aria-controls="DataTables_Table_1" class="form-control input-sm" placeholder="Search... " style="width: 200px;"></label></div></div></div>

                                    <table class="data-table-column-filter table table-bordered table-striped dataTable" style="margin-bottom:0;" id="DataTables_Table_1" aria-describedby="DataTables_Table_1_info">
                                        <thead>
                                        <tr role="row"><th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="
                                                                Name
                                                            : activate to sort column descending" style="width: 409px;">
                                                Name
                                            </th><th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="
                                                                E-mail
                                                            : activate to sort column ascending" style="width: 425px;">
                                                E-mail
                                            </th><th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="
                                                                Grantee
                                                            : activate to sort column ascending" style="width: 217px;">
                                                Grantee
                                            </th><th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="
                                                                Status
                                                            : activate to sort column ascending" style="width: 217px;">
                                                Status
                                            </th><th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label=": activate to sort column ascending" style="width: 169px;"></th></tr>
                                        </thead>

                                        <tfoot>
                                        <tr>
                                            <th rowspan="1" colspan="1">
                                                                <span class="filter_column filter_text">
                                                                    <input type="text" class="search_init text_filter" placeholder="Name">
                                                                </span>
                                            </th>
                                            <th rowspan="1" colspan="1"><span class="filter_column filter_text"><input type="text" class="search_init text_filter" placeholder="E-mail"></span></th>
                                            <th rowspan="1" colspan="1"><span class="filter_column filter_text"><input type="text" class="search_init text_filter" placeholder="Grantee"></span></th>
                                            <th colspan="2" rowspan="1"><span class="filter_column filter_text"><input type="text" class="search_init text_filter" placeholder="Status"></span></th>
                                        </tr>
                                        </tfoot>
                                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                                        {% for user in users %}
                                        <tr>
                                        <td>
                                        {{ user.username }}
                                        </td>
                                        {#<td>{{ category.name }}</td>#}
                                        {#<td>#}
                                        {#{% for subcat in category.children %}#}
                                        {#{{ subcat.prefix }}#}
                                        {#{% if category.children|length > 1 %}#}
                                        {#,#}
                                        {#{% endif %}#}
                                        {#{% endfor %}#}
                                        {#</td>#}
                                        {#<td>{% if category.datemodified == null %}#}
                                        {#{{ category.datecreated|date('H:i - d-m-y') }}#}
                                        {#{% else %}#}
                                        {#{{ category.datemodified|date('H:i - d-m-y') }}#}
                                        {#{% endif %}#}
                                        {#</td>#}
                                        {#<td>{% if category.active == 1 %}#}
                                        {#<span id="{{ category.id }}" data-status="1" class="label label-success status">Actief</span>#}
                                        {#{% elseif category.active == 0 or category.active == null %}#}
                                        {#<span id="{{ category.id }}" data-status="0" class="label label-default status">Inactief</span>#}
                                        {#{% endif %}#}
                                        {#</td>#}
                                        {#<td>#}
                                        {#<a class="btn btn-warning btn-xs" href="{{ path('rental_category_edit', {'slug': category.slug,}) }}">#}
                                        {#<i class="glyphicon glyphicon-pencil tooltips" data-original-title="Edit category" title="Edit category"></i>#}
                                        {#</a>#}
                                        {#<a id="{{ category.id }}" class="btn btn-danger btn-xs category_delete" href="#">#}
                                        {#<i class="glyphicon glyphicon-remove tooltips" data-original-title="Delete category" title="Delete category"></i>#}
                                        {#</a>#}
                                        {#</td>#}
                                        </tr>
                                        {% endfor %}
                                        {#<tr>#}
                                            {#<td class=" sorting_1">Ahmed Sanford</td>#}
                                            {#<td>jon@gmail.com</td>#}
                                            {#<td>Catholic Charities WV</td>#}
                                            {#<td>#}
                                                {#<span class="label label-success">Active</span>#}
                                            {#</td>#}
                                            {#<td>#}
                                                {#<div class="text-right">#}
                                                    {#<a class="btn btn-success btn-xs" href="#">#}
                                                        {#<i class="glyphicon glyphicon-pencil tooltips" data-original-title="Edit User" title="Edit User"></i>#}
                                                    {#</a>#}
                                                    {#<a class="btn btn-warning btn-xs" href="#">#}
                                                        {#<i class="glyphicon glyphicon-refresh tooltips" data-original-title="Toggle User Status" title="Toggle User Status"></i>#}
                                                    {#</a>#}
                                                {#</div>#}
                                            {#</td>#}
                                        {#</tr>#}
                                        </tbody>
                                    </table>

                                    <div class="row datatables-bottom">
                                        <div class="col-sm-6">
                                            <div class="dataTables_info" id="DataTables_Table_1_info">Showing 1 to 10 of 20 entries</div>
                                        </div>
                                        <div class="col-sm-6 text-right">
                                            <div class="dataTables_paginate paging_bootstrap">
                                                <ul class="pagination pagination-sm">
                                                    <li class="prev disabled"><a href="#">← Previous</a></li>
                                                    <li class="active"><a href="#">1</a></li>
                                                    <li><a href="#">2</a></li>
                                                    <li class="next"><a href="#">Next → </a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div><!--/panel-body-->
                    </div><!--/panel-->

                    {#<div class="btn-group btn-group-justified">#}
                    {#<a href="#" class="btn btn-primary col-sm-3">#}
                    {#<i class="glyphicon glyphicon-plus"></i><br>#}
                    {#Service#}
                    {#</a>#}
                    {#<a href="#" class="btn btn-primary col-sm-3">#}
                    {#<i class="glyphicon glyphicon-cloud"></i><br>#}
                    {#Cloud#}
                    {#</a>#}
                    {#<a href="#" class="btn btn-primary col-sm-3">#}
                    {#<i class="glyphicon glyphicon-cog"></i><br>#}
                    {#Tools#}
                    {#</a>#}
                    {#<a href="#" class="btn btn-primary col-sm-3">#}
                    {#<i class="glyphicon glyphicon-question-sign"></i><br>#}
                    {#Help#}
                    {#</a>#}
                    {#</div>#}


                </div><!--/col-->
            </div><!--/row-->

        </div><!--/col-span-9-->
    </div>

    <!-- /Main -->
    <div class="modal" id="addWidgetModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Add User</h4>
                </div>
                <div class="modal-body">

                    <form class="form-horizontal" role="form">

                        <fieldset class="form-stacked">
                            <legend>User Information</legend>
                            <div class="row">
                                <div class="form group col-md-4">
                                    <label>First Name
                                        <input type="first_name" class="form-control" id="inputFirstName" placeholder="First Name">
                                    </label>
                                </div>
                                <div class="form group col-md-4">
                                    <label>Last Name
                                        <input type="last_name" class="form-control" id="inputLastName" placeholder="Last Name">
                                    </label>
                                </div>
                                <div class="form group col-md-4">
                                    <label>Nick Name
                                        <input type="nick_name" class="form-control" id="inputNick" placeholder="Nickname">
                                    </label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form group col-md-4">
                                    <label>Birthdate
                                        <input type="birth_date" class="form-control" id="inputDob" placeholder="DOB">
                                    </label>
                                </div>
                                <div class="form group col-md-4">
                                    <label>Social Security Number
                                        <input type="ssn" class="form-control" id="inputSSN" placeholder="SSN">
                                    </label>
                                </div>
                                <div class="form group col-md-4">
                                    <label>WVEIS Employee ID
                                        <input type="email" class="form-control" id="inputEID" placeholder="WVEIS Employee ID">
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="form-stacked">
                            <legend>Contact  Information</legend>
                            <div class="row">
                                <div class="form group col-md-4">
                                    <label>Email
                                        <input type="email" class="form-control" id="inputEmail" placeholder="Email Address">
                                    </label>
                                </div>
                                <div class="form group col-md-4">
                                    <label>Address 1
                                        <input type="address_one" class="form-control" id="inputAddressOne" placeholder="Address One">
                                    </label>
                                </div>
                                <div class="form group col-md-4">
                                    <label>Address 2
                                        <input type="address_two" class="form-control" id="inputAddressTwo" placeholder="Address Two">
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form group col-md-4">
                                    <label>City
                                        <input type="city" class="form-control" id="inputCity" placeholder="City">
                                    </label>
                                </div>
                                <div class="form group col-md-4">
                                    <label>State
                                        <select id="inputState" name="state" class="select form-control" style="" title="State">


                                            <option value="0">&nbsp;</option>


                                            <option value="148" selected="selected">WV</option>


                                            <option value="146">VA</option>


                                            <option value="117">KY</option>


                                            <option value="135">OH</option>


                                            <option value="120">MD</option>


                                            <option value="138">PA</option>


                                            <option value="139">RI</option>


                                            <option value="140">SC</option>


                                            <option value="141">SD</option>


                                            <option value="142">TN</option>


                                            <option value="143">TX</option>


                                            <option value="144">UT</option>


                                            <option value="145">VT</option>


                                            <option value="121">MA</option>


                                            <option value="122">MI</option>


                                            <option value="123">MN</option>


                                            <option value="124">MS</option>


                                            <option value="125">MO</option>


                                            <option value="126">MT</option>


                                            <option value="127">NE</option>


                                            <option value="128">NV</option>


                                            <option value="129">NH</option>


                                            <option value="130">NJ</option>


                                            <option value="131">NM</option>


                                            <option value="132">NY</option>


                                            <option value="133">NC</option>


                                            <option value="134">ND</option>


                                            <option value="100">AL</option>


                                            <option value="101">AL</option>


                                            <option value="102">AR</option>


                                            <option value="103">AK</option>


                                            <option value="104">CA</option>


                                            <option value="105">CO</option>


                                            <option value="106">CT</option>


                                            <option value="107">DC</option>


                                            <option value="108">DE</option>


                                            <option value="109">FL</option>


                                            <option value="110">GA</option>


                                            <option value="111">HI</option>


                                            <option value="112">ID</option>


                                            <option value="113">IL</option>


                                            <option value="114">IN</option>


                                            <option value="115">IA</option>


                                            <option value="116">KS</option>


                                            <option value="136">OK</option>


                                            <option value="137">OR</option>


                                            <option value="118">LA</option>


                                            <option value="119">ME</option>


                                            <option value="147">WA</option>


                                            <option value="149">WI</option>


                                            <option value="150">WY</option>


                                            <option value="0">--</option>
                                        </select>
                                    </label>
                                </div>
                                <div class="form group col-md-4">
                                    <label>Zip Code
                                        <input type="zip" class="form-control" id="inputZipCode" placeholder="Zip">
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="form-stacked">
                            <legend>Employment  Information</legend>
                            <div class="row">
                                <div class="form group col-md-4">
                                    <label>Years Served
                                        <input type="email" class="form-control" id="inputEmail" placeholder="Years Served">
                                    </label>
                                </div>
                                <div class="form group col-md-4">
                                    <label>RESA
                                        <select name="resa" id="selresa" class="select form-control" title="RESA">
                                            <option value=""></option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                        </select>
                                    </label>
                                </div>
                                <div class="form group col-md-4">
                                    <label>Grantee
                                        <select name="grantee" id="selgrantee" class="select form-control" title="Grantee">
                                            <option value="0"> </option>
                                            <option value="1009">McDowell County Schools</option>
                                            <option value="1012">Raleigh County Schools</option>
                                            <option value="1021">Southern Regional Jail - Raleigh</option>
                                            <option value="1032">Summers County Schools</option>
                                            <option value="1040">Mercer County Schools</option>
                                            <option value="1056">Monroe County Schools</option>
                                            <option value="1068">Wyoming County Schools</option>
                                            <option value="1072">Lamp/Summers County Library</option>
                                            <option value="1075">CASE</option>
                                            <option value="1076">Catholic Charities WV</option>
                                            <option value="1094">RESA 1</option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form group col-md-4">
                                    <label>Role(s)</label>

                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">
                                            System Administrator <span class="tooltips glyphicon glyphicon-info-sign" title="" data-original-title="permission for the role" data-toggle="tooltip"></span>
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">
                                            State Administrator <span class="tooltips glyphicon glyphicon-info-sign" title="" data-original-title="permissions for the role" data-toggle="tooltip"></span>
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">
                                            RESA Administrator <span class="tooltips glyphicon glyphicon-info-sign" title="" data-original-title="permissions for the role" data-toggle="tooltip"></span>
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">
                                            Grantee Administrator <span class="tooltips glyphicon glyphicon-info-sign" title="" data-original-title="permissions for the role" data-toggle="tooltip"></span>
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">
                                            Instructor <span class="tooltips glyphicon glyphicon-info-sign" title="" data-original-title="permissions for the role" data-toggle="tooltip"></span>
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">
                                            Report Generator <span class="tooltips glyphicon glyphicon-info-sign" title="" data-original-title="permissions for the role" data-toggle="tooltip"></span>
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">
                                            Prof Dev Coordinator <span class="tooltips glyphicon glyphicon-info-sign" title="" data-original-title="permissions for the role" data-toggle="tooltip"></span>
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">
                                            Data Entry <span class="tooltips glyphicon glyphicon-info-sign" title="" data-original-title="permissions for the role" data-toggle="tooltip"></span>
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">
                                            Instructor Aides <span class="tooltips glyphicon glyphicon-info-sign" title="" data-original-title="permissions for the role" data-toggle="tooltip"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>




                </div>
                <div class="modal-footer">
                    <a href="#" data-dismiss="modal" class="btn btn-danger">Cancel</a>
                    <a href="#" class="btn btn-primary">Save User</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dalog -->
    </div><!-- /.modal -->
{% endblock %}
